// Minhas Fonts
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("http://fonts.googleapis.com/css?family=Pacifico");

// Minhas Variaveis

// Variaveis Foundation

//Compass/CSS3
@import "compass/css3";

// Imports para o fondation
@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* 
INDICE
	1 - Globals
	2 - Cabelaçalho
	3 - Estrutura
	4 - Rodapé
	5 - Estilo de Títulos
	6 - Estilo de Texto
	7 - Botões
	8 - Navegação
	9 - Formulários
	10 - Extras / Miscelâneas
	11 - Media Queries
*/

/********************* 1 - Globals ********************************/

/********************* 2 - Cabelaçalho ****************************/

#header-top-site {
	height: 150px;
}

/********************* 3 - Estrutura ******************************/

/********************* 4 - Rodapé *********************************/
footer#rodape-principal {
	background: #0A0079; 
	height: 200px;
}
/********************* 5 - Estilo de T[itulos *********************/

/********************* 6 - Estilo de Texto ************************/

/********************* 7 - Botões *********************************/

/********************* 8 - Navegação ******************************/



/********************* 9 - Formulários ****************************/

/********************* 10 - Extras/Miscelâneas ********************/

/********************* 11 - Media Queries  ************************/