// Minhas Fonts
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/iconmoon/icomoon.eot?-cbettd');
	src:url('/fonts/iconmoon/icomoon.eot?#iefix-cbettd') format('embedded-opentype'),
		url('/fonts/iconmoon/icomoon.woff?-cbettd') format('woff'),
		url('/fonts/iconmoon/icomoon.ttf?-cbettd') format('truetype'),
		url('/fonts/iconmoon/icomoon.svg?-cbettd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE603:before {
	content: "\e603";
}
.icon-uniE604:before {
	content: "\e604";
}
.icon-phone:before {
	content: "\e601";
}
.icon-mobile:before {
	content: "\e602";
}
.icon-search:before {
	content: "\e600";
}


/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

// Minhas Variaveis

// Variaveis Foundation

//Compass/CSS3
@import "compass/css3";

// Imports para o fondation
@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* 
INDICE
	1 - Globals
	2 - Cabelaçalho
	3 - Estrutura
	4 - Rodapé
	5 - Estilo de Títulos
	6 - Estilo de Texto
	7 - Botões
	8 - Navegação
	9 - Formulários
	10 - Extras / Miscelâneas
	11 - Media Queries
*/


/********************* 1 - Globals ********************************/

/********************* 2 - Cabelaçalho ****************************/

#header-top-site {
	height: 150px;
}

/********************* 3 - Estrutura ******************************/
div.editable {
	border: solid 2px transparent;
	padding-left: 15px;
	padding-right: 15px;

	border-color: #C4C4C4;

	min-height: 50px;

	&::hover {
		border-color: black;
	}
	
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#fotoCorretor {
	margin: auto;
	max-width: 200px;
	max-height: 200px;
	border: 2px solid black;
	box-shadow: -2px 2px 3px #43453A;
}

/********************* 4 - Rodapé *********************************/
footer#rodape-principal {
	background: #0A0079; 
	height: 200px;
}

.admin-content {
 margin-left: 220px;
}

/********************* 5 - Estilo de T[itulos *********************/


/********************* 6 - Estilo de Texto ************************/

/********************* 7 - Botões *********************************/

/********************* 8 - Navegação ******************************/
#admin-menu {
	width: 220px;
	margin-top: 45px;
	background: black;

	height:100vh;

	h3 {
		font-size: 1.4em;
		color: white;
	}
	
	a {
		color: white;
	}


}

.menu-accordion {
	ul {
		list-style-type: none;
		
		h3 {
			cursor: pointer;
		}

		ul {
			display: none;
			li {
				a{
					display: block;
				}
			}
		}

		li.active ul {
			display: block;
		}
	}
}

/********************* 9 - Formulários ****************************/

/********************* 10 - Extras/Miscelâneas ********************/

/********************* 11 - Media Queries  ************************/


/* Testes */

.content-test {
	
}















.features {
    float: right;
    width: 300px;
    padding-left: 20px;
}
.features .heading {
    font-size: 14px;
    font-weight: bold;
}

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}
.drop.drag-over {
    background: #5CB85C;
    color: #fff
}
.transfer-box {
    margin-bottom: 5px;
}
.transfer-box .progress {
    margin-bottom: 0;
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
}
.thumbnail img {
    max-width: 200px;
    max-height: 150px;
}

.gallery-box {
    width: 200px;
    padding: 5px;
    margin: 7px;
    float: left;
    min-height: 200px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 188px;
    width: 188px;
}
.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}